<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}All Gone!{{else}}Eat-em Up!{{/if}}
	</button>

	<button class="delete-burgers" data-id="{{this.id}}">DELETE!</button>
</li>